

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 100vh;
  background: #752121;
  
}
.header-cadastro{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px;
}
#title-cadastro{
  color: #fff;
  margin-left: 10px;
  font-size: 50pt;
  font-weight: 100;
  
}
.main-cadastro{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box1-cadastro{
  position: absolute;
  height:500px;
  width: 500px;
  background-color: #ffffff7a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#box2-cadastro{
  flex-direction: column;
  display: flex;
  gap: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  justify-content:center;
  align-items: center;
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
}
.text-and-input-cadastro{
  display: flex;
  gap: 5px;
  flex-direction: column;
  
}


#textModelo-cadastro{
  margin-top: 20px;
  gap: 5px;
}
#inputModelo-cadastro{
  display: flex;
  height: 35px;
  width: 300px;
  border: none;
  box-shadow:10px 10px 0px #752121;
}

.placa-e-texto-cadastro{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input-text-placa-cadastro{
  display: flex;
  height: 35px;
  width: 300px;
  box-shadow:10px 10px 0px #752121;
  border: none;
}
#time-cadastro{
  margin-top: 2px;
  height: 35px;
  width: 300px;
  box-shadow:10px 10px 0px #752121;
  border: none;
}

#btn-cadastro{
  padding: 5px;
  margin-top: 100px;
  background: transparent;
  border: 1px gray solid;
  background-color: transparent;
}
#btn-cadastro:hover {
  background-color: aquamarine;
}
#lineMenu{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: baseline;
 
}

#cadastro{
  color: #752121;
  margin-bottom: 10px;
  text-decoration: none;
}