* {
  margin: 0;
  padding: 0;
  color: #752121;
}
body {
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  height: 100vh;

  background: #752121;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px;
}
#title {
  color: #fff;
  margin-left: 10px;
  font-size: 50pt;
  font-weight: 100;
  
}
.main {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}
.container-itens {
}
#box1 {

  height: 200px;
  width: 400px;
  background-color: #ffffff7a;

}
#box2{
  flex-direction: column;
  display: flex;
  gap: 30px;
  margin-top: -185px;
  margin-left: 15px;
  height: 250px;
  width: 400px;
  background-color: #ffffff;
  justify-content:center;
  align-items: center;
}
.text-and-input-cadastro{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#textModelo{
  margin-top: 20px;
  gap: 5px;

}
#inputModelo{
  display: flex;
  height: 35px;
  width: 300px;
  
}
.placa-e-texto{
  flex-direction: column ;
}
.placa-e-texto{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#input-text-placa{
  display: flex;
  height: 35px;
  width: 300px;

}
#placa{  
}
#btn{
  padding: 5px;
  margin-top: 10px;
  background: transparent;
  border: 1px gray solid;
}
#btn:hover {
  background-color: aquamarine;
}
#lineMenu{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: baseline;
 
}

#cadastro{
  text-decoration: none;
  color: #752121;
}